### Conditional Statements Lectures

In [1]:
if None:
  print ("True is the condition.")
else:
  print("None is false")

None is false

In [2]:
if float:
  print("True")

True

In [3]:
if 'x' in ["x","xxx","y"]:
  print("X is found")

X is found

In [4]:
if ('al' in "Ali") or ('y' in "yellow"):
  print("1")

1

In [5]:
x = -0.00001
if x > 0:
  print("Positive")
elif x == 0:
  print("Zero")
else:
  print("Negative")

Negative

In [6]:
True or var
# In or conditions, we can use short circuited law

True

In [7]:
True and var
#var is not defined

NameError: name 'var' is not defined

### Ternary Operator

In [8]:
X = 12
y = True if x > 15 else False

In [9]:
y

False

#### Pass syntax

In [10]:
x = -0.0001
if x == 2:
    pass
elif x > 0:
    print('x is non negative')
else:
    print('x is sub-zero')

x is sub-zero

In [13]:
from IPython.display import display, Math, Latex

## While loops

In [18]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [21]:
x = 2
abs(x)

2

In [22]:
x.imag

0

In [23]:
x.from_bytes

In [31]:
x = 10
i = 10
y = 0
while x > 0:
    y += 1
    x -= 1
    i -= 1
    print(f'x is {x} and y is {y} in the {i}th level')
    if x == y and x != 0:
        break #break and continue will save you a lot of time

x is 9 and y is 1 in the 9th level
x is 8 and y is 2 in the 8th level
x is 7 and y is 3 in the 7th level
x is 6 and y is 4 in the 6th level
x is 5 and y is 5 in the 5th level

In [30]:
bool([])

False

### For loops

In [5]:
for i in {'a':1, '2':[1,2,3], 'sa': 3.4}.values():
    print(i)

1
[1, 2, 3]
3.4

In [6]:
for i in {'a':1, '2':[1,2,3], 'sa': 3.4}.keys():
    print(i)

a
2
sa

In [10]:
## Something to remember always, any iterable != iterator object
## But vice versa is true

In [8]:
iter(3.4)

TypeError: 'float' object is not iterable

In [9]:
iter((1,2,3))

In [11]:
for i in {'a':1, '2':[1,2,3], 'sa': 3.4}.items():
    print(i)

('a', 1)
('2', [1, 2, 3])
('sa', 3.4)

In [13]:
for i in range(100,150,3): #efficient for RAM, fast for executing
    print(i, ' ', i*2)

100   200
103   206
106   212
109   218
112   224
115   230
118   236
121   242
124   248
127   254
130   260
133   266
136   272
139   278
142   284
145   290
148   296

In [19]:
s = []
for i in range(1,15):
    s.append(i*2) #can not be assigned to anything
    print(s)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [20]:
L = ['A','Re','SK']
list(map(str.lower,L))

['a', 're', 'sk']

In [23]:
a = [i ** 2 for i in range(0,10,2)]
a

[0, 4, 16, 36, 64]

In [23]:
s = ['Ali','Hassan','Reza','Mohammad']
s

['Ali', 'Hassan', 'Reza', 'Mohammad']

In [18]:
[n.upper() for n in s if 'a' in n]

['HASSAN', 'REZA', 'MOHAMMAD']

In [27]:
[n.lower() if 'i' in n else n.upper() for n in s]

['ali', 'HASSAN', 'REZA', 'MOHAMMAD']

### Coding Sections

In [7]:
f = 1
while f:
    n = input("print your desirable integer:")
    n = int(n)
    if n % 2 == 0:
        print(f'{n} is even')
    else:
        print(f'{n} is odd')
    flag = input('Do you wish to continue?')
    if flag == 'yes':
        f = 1
    else:
        f = 0

print your desirable integer: 4

4 is even

Do you wish to continue? yes
print your desirable integer: 5

5 is odd

Do you wish to continue? no

#### Another example

In [36]:
i = 0
x = []
while i < 3:
    y = float(input(f'Enter the {i} number:'))
    x.append(y)
    i += 1
if x[0] < x[1] :
    if x[1] < x[2]:
        print(x)
    else:
        if x[2] > x[0]:
            t = x[2]
            x[2] = x[1]
            x[1] = t 
            print(x)
        else:
            t = x[0]
            x[0] = x[2]
            x[2] = x[1]
            x[1] = t
            print(x)
elif x[0] > x[1]:
    if x[0] < x[2]:
        t = x[0]
        x[0] = x[1]
        x[1] = t 
        print(x)
    else: #if x[0] is greater > than x[2]
        if x[2] > x[1]: 
            t = x[2]
            p = x[1]
            x[1] = t
            x[2] = x[0]
            x[0] = p
            print(x)
        else:
            t = x[2]
            x[2] = x[0]
            x[0] = t
            print(x)
m = len(x)
print(f'Median of x = {x} is {x[m%2]}')

Enter the 0 number: 3
Enter the 1 number: 14
Enter the 2 number: 5.33

[3.0, 5.33, 14.0]
Median of x = [3.0, 5.33, 14.0] is 5.33