### Pandas is usally used for Data Analysis

In [1]:
import pandas as pd
pd.__version__

'2.2.1'

In [5]:
a = [1, 2, 3.5]
my_data = pd.Series(a)
my_data
print(my_data)

0    1.0
1    2.0
2    3.5
dtype: float64

In [6]:
### Index argument to assign our desirable labels

In [7]:
my_data2 = pd.Series(a, index = [0.1, 0.2, 0.3], copy = True)
print(my_data2)

0.1    1.0
0.2    2.0
0.3    3.5
dtype: float64

### Key/Value Objects

In [8]:
#### A Pandas DataFrame is a 2 dimensional data structure

In [9]:
data = {
    'c' : ['a', 'b', 'c'],
    'd' : [1, 2, 3],
    'e' : ["Ali", "Moh", "Nag"],
}
data
x = pd.DataFrame(data)
print(x)

   c  d    e
0  a  1  Ali
1  b  2  Moh
2  c  3  Nag

In [10]:
x.loc[0] ## Specific Row to return

c      a
d      1
e    Ali
Name: 0, dtype: object

## Named Indexes

In [12]:
x = pd.DataFrame(data, index = ["Boy", "Widow","Girl"])
print(x)

       c  d    e
Boy    a  1  Ali
Widow  b  2  Moh
Girl   c  3  Nag

### One common and efficient way of storing huge datas is to use "df = pd.read_csv('data.csv')"

In [14]:
x.info() #print information about DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Boy to Girl
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c       3 non-null      object
 1   d       3 non-null      int64
 2   e       3 non-null      object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

### Cleaning Data